# templates/hosts.j2
# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Network nodes as generated through Ansible.
{% for h in groups['all'] %}
{{ hostvars[h].ansible_all_ipv4_addresses[0] }}  {{ hostvars[h].inventory_hostname }}
{% endfor %}
